//- (c)2017 by Gerald Wodni

extends layout

block menu
    +menu
    +script("/js/album.js")

block content
    +box
        if albumImages
            each album in albums
                if album.folder.indexOf( albumLink ) > 0
                    h1= album.title
                    != marked( album.body )
            #album-overlay
                a.album-btn.download(title=__("Download"))
                    +fa("download fa-fw")
                a.album-btn.close(title=__("Close"))
                    +fa("close fa-fw")
                a.album-btn.prev
                    +fa("chevron-left")
                    +fa("circle-o-notch fa-spin").loading
                a.album-btn.next
                    +fa("circle-o-notch fa-spin").loading
                    +fa("chevron-right")

            ul.album
                each albumImage in albumImages
                    - var preview       = albumImage.replace( /^\/images\//, "/images-preview/" );
                    - var albumUrl      = albumImage.replace( /^\/images\//, "/images-gallery/" );
                    - var downloadUrl   = albumImage.replace( /^\/images\//, "/images-download/" );
                    li
                        a(href=albumImage,data-album-image=albumUrl,data-album-download=downloadUrl)
                            img(src=preview)
        else
            h1 Albums
            each album in albums
                a(href=album.folder.replace(/^\/images/, '/albums'))
                    h2= album.title
                    != marked( album.intro )


