//- (c)2014 by Gerald Wodni

doctype html
include common
if !naked
        +script('/js/jquery.min.js')
        +script('/js/site.js')

mixin menuItem( link, icon, text )
    li&attributes(attributes)
        a(href="#{link}",title=text.all||text,target=(link.indexOf("http")==0?"_blank":false))
            +fa(icon)
            | 
            if( _.isObject( text ) )
                each size in ["sm", "md", "lg"]
                    span(class="inline-#{size}")
                        if _.has( text, size )
                            = text[size]
                        else
                            = text.all
            else
                span.hidden-xs= text

mixin menuItemFooter( link, text )
    li&attributes(attributes)
        a(href="#{link}",title=text.all||text,target=(link.indexOf("http")==0?"_blank":false))
            if( _.isObject( text ) )
                each size in ["sm", "md", "lg"]
                    span(class="inline-#{size}")
                        if _.has( text, size )
                            = text[size]
                        else
                            = text.all
            else
                span.hidden-xs= text

mixin menu
    div.navbar.navbar-fixed-top(role='navigation')&attributes(attributes)
        div.container
            div.navbar-header
                a.navbar-brand(href="/",title="Main Link")
                    img(src="/images/favicon.ico",alt="Forth Gesellschaft e.V.")
                    span.hidden-xs
                        | Forth e.V.
                ul.navbar-nav
                    each item in navigationTop
                        if item.link.indexOf( "wiki" ) != -1
                            - item.link = "/wiki"
                        +menuItem( item.link, item.icon, item.name )
                    if loggedIn
                        +menuItem("/profile",    "user",         "Profile"   )
                        +menuItem("/logout",     "sign-out",     "Logout"    )
                    else
                        +menuItem("/profile",    "sign-in",      "Login" )


if naked
    block content
else
    html
        head
            title
                block title
                    = title || "Forth"
            meta(name="viewport",content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width")
            +favicon("/images/favicon.png?v=6")
            +style('/css/index.css')
            +style('/css/font-awesome.min.css')
            +styles
            block head
        body(class=bodyClass)
            div.wrapper
                block menu

                block full-content
                    div.main-content
                        block content

            footer
                div.container-fluid
                    div.row
                        div.col-sm-4
                            | powered by  
                            a(href='https://github.com/GeraldWodni/kern.js',target="_blank") kern.js

                        div.col-sm-4
                            ul.navbar-nav
                                each item in navigationBottom
                                    +menuItemFooter( item.link, item.name )

                        div.col-sm-4.text-right
                            //a(href="http://wodni.at") 
                            span.debug-size
                                | ©
                            | copyright 
                            = (new Date()).getFullYear()
                            |  Forth-Gesellschaft e.V.
                div#bootstrapSize
                    div.visible-xs
                    div.visible-sm
                    div.visible-md
                    div.visible-lg
            +script('/js/bootstrap.min.js')
            +scripts
            block scripts
